@model IEnumerable<trasua_web_mvc.Infracstructures.Entities.Branch>

@{
    ViewBag.Title = "Cửa hàng chi nhánh";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="pd-ltr-20">


    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Danh sách chi nhánh</h2>
        <table class="data-table table nowrap">
            <thead>
                <tr>
                    <th>Mã chi nhánh</th>
                    <th>Khu vục</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            <h5 class="font-16">@item.Area.Country</h5>
                        </td>
                        <td>@item.Address</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="/admin/editBranch/{@item.Id}"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="/admin/deleteBranch/{@item.Id}"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        @*         DeskApp - Bootstrap 4 Admin Template By
        <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a> *@
    </div>
    <a href="/Admin/createBranch" class="btn custom-width" style="background-color:#b81f32;color:#fff">Thêm chi nhánh</a>

</div>