@page
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="aboutPage">
    <div class="page-heading bg-img" style="background-image:url(../../Content/images/bg-qua-trinh-phat-trien.jpg)">
        <div class="container">
            <h2>GIỚI THIỆU</h2>
            <p>Good Tea - Great Taste</p>
        </div>
    </div>

    <div class="breadcumbs">
        <div class="breadcumbs_container">
            <div class="breadcumbs_nav">
                <span>
                    <a href="/Home">
                        <i class="fa fa-home"></i>
                    </a>
                </span>
                <i class="fa fa-angle-right"></i>
                <span class="title">Giới thiệu</span>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div style="display: flex; flex-direction: row; background-color: #f8e5de;padding:10px;">
                <div style="width:50%;display:flex;justify-content:center;align-items:center">
                    <div>
                        <h2>
                            CÂU CHUYỆN THƯƠNG HIỆU
                        </h2>
                        <p>Tên gọi Gong Cha xuất phát từ ý nghĩa trong tiếng Hoa là Trà cung đình. Thời xưa, các loại trà tốt nhất thường được các vị hoàng thân quý tộc ngự dùng. Ngày nay, Gong Cha mong muốn phục vụ các loại trà tốt nhất cho thực khách, cũng như chính tên gọi của thương hiệu. Kể từ khi được thành lập vào năm 2006 tại Đài Loan, chuỗi cửa hàng Gong Cha đã mở rộng trên khắp 19 quốc gia với 1.500 cửa hàng và con số này vẫn tiếp tục tăng trưởng không ngừng. Qua nhiều năm nỗ lực phát triển, Gong Cha đã trở nên phổ biến với khách hàng từ nhiều quốc gia và trở thành một trong những thương hiệu trà đáng tin cậy hàng đầu trên thế giới.</p>
                    </div>
                </div>

                <div style="width:50%;display:flex;justify-content:center;align-items:center;">
                    <img src="~/js/lytra-350x441.png" />
                </div>
            </div>

            <div style=" padding-top: 60px ; padding-bottom: 60px ;display:flex;flex-direction:row">
                <div style="width:50%">
                    <img style="height: auto; max-width: 100%;vertical-align: top; " src="~/js/Hình-CH.jpg" />
                </div>

                <div style="width: 50%; padding-left: 7.5px; padding-right: 7.5px;">
                    <div>
                        <h2>GONG CHA VIỆT NAM</h2>
                        <p>Thương hiệu Gong Cha được công ty TNHH Golden Trust chính thức đưa vào hoạt động tại thị trường Việt Nam từ ngày 11/10/2014. Trải qua hơn năm năm hoạt động, công ty TNHH Golden Trust – đơn vị nhượng quyền độc quyền của Gong Cha tại Việt Nam, đã đưa thương hiệu phát triển nhanh chóng và trở thành một trong những điểm đến thân thuộc của các bạn trẻ yêu thích văn hóa trà sữa và mong muốn trải nghiệm sản phẩm trà uy tín chất lượng với nguồn gốc xuất xứ rõ ràng.</p>
                    </div>
                </div>
            </div>

            <div style=" background-color: #f8e5de">
                <div style="display:flex;flex-direction:column;align-items:center">
                    <div>
                        <h2>GIÁ TRỊ CỐT LÕI</h2>
                    </div>
                    <div style="display:flex;flex-direction:row;">
                        <div style="display:flex;flex-direction:column;width:33%">
                            <div class="box-icon" style="width: 220px; height: 220px; border-radius: 50%; background: #FFF; text-align: center; margin: 0 auto; vertical-align: middle; position: relative;">
                                <img style=" position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" src="~/js/icon1.png" />
                            </div>
                            <div style="display:flex;flex-direction:column;justify-content:space-between;padding:20px;">
                                <h3 style="padding: 10px; text-align: center; color: #b91f32; padding: 15px; text-transform: uppercase; font-weight: 600; height: 75px; font-size: 22px;">1. CHẤT LƯỢNG HÀNG ĐẦU</h3>
                                <p style="padding:10px">
                                    An toàn, vệ sinh và ngon miệng. Việc sử dụng các nguyên liệu an toàn, tự nhiên và vệ sinh là ưu tiên hàng đầu của Gong Cha. Hương vị tuyệt hảo của các món thức uống là mục đích quan trọng tiếp theo mà chúng tôi muốn hướng đến.
                                </p>
                            </div>
                        </div>

                        <div style="display:flex;flex-direction:column;width:33%">
                            <div class="box-icon" style="width: 220px; height: 220px; border-radius: 50%; background: #FFF; text-align: center; margin: 0 auto; vertical-align: middle; position: relative;">
                                <img style=" position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" src="~/js/icon2.png" />
                            </div>
                            <div style="display:flex;flex-direction:column;justify-content:space-between;padding:20px;">
                                <h3 style="padding: 10px; text-align: center; color: #b91f32; padding: 15px; text-transform: uppercase; font-weight: 600; height: 75px; font-size: 22px;">2. DỊCH VỤ THÂN THIỆN & CHUYÊN NGHIỆP</h3>
                                <p style="padding:10px">
                                    Gong Cha mong muốn làm hài lòng khách hàng tốt nhất với tác phong phục vụ chuyên nghiệp và thân thiện, luôn lắng nghe những đóng góp của khách hàng.
                                </p>
                            </div>
                        </div>

                        <div style="display:flex;flex-direction:column;width:33%">
                            <div class="box-icon" style="width: 220px; height: 220px; border-radius: 50%; background: #FFF; text-align: center; margin: 0 auto; vertical-align: middle; position: relative;">
                                <img style=" position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" src="~/js/icon3.png" />
                            </div>
                            <div style="display:flex;flex-direction:column;justify-content:space-between;padding:20px;">
                                <h3 style="padding: 10px; text-align: center; color: #b91f32; padding: 15px; text-transform: uppercase; font-weight: 600; height: 75px; font-size: 22px;">3. THƯƠNG HIỆU ĐÁNG TIN CẬY</h3>
                                <p style="padding:10px">
                                    Dựa trên hai nền tảng cốt lõi là Chất Lượng và Dịch Vụ, Gong Cha luôn nỗ lực xây dựng và duy trì hình ảnh thương hiệu đáng tin cậy trong mắt khách hàng.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

